<div>
    {{modelForm.valid}}
    <form [formGroup]="modelForm" class="card p-3 shadow" (ngSubmit)="getDataForm()" novalidate>
        <div class="my-2 container">
            <label for="name" class="form-label">Nombre Usuario</label>
            <input type="text" class="form-control" formControlName="name" id="name">
            @if(checkControl('name', 'required')){
            <p class="error">Campo requerido</p>
            }
            @if(checkControl('name', 'minlength')){
            <p class="error">La longitud minima son 3 caracteres</p>
            }
        </div>

        <div class="my-2 container">
            <label for="lastname" class="form-label">Apellido Usuario</label>
            <input type="text" class="form-control" formControlName="lastname" id="lastname">
            @if(checkControl('lastname', 'required')){
            <p class="error">Campo requerido</p>
            }
        </div>

        <div class="my-2 container">
            <label for="email" class="form-label">Email Usuario</label>
            <input type="email" class="form-control" formControlName="email" id="email">
            @if(checkControl('email', 'pattern')){
            <p class="error">El email es incorrecto</p>
            }
            @if(checkControl('email', 'required')){
            <p class="error">El email es requerido</p>
            }
        </div>

        <div class="my-2 container">
            <label for="image" class="form-label">Imagen Usuario</label>
            <input type="text" class="form-control" formControlName="image" id="image">
            @if(checkControl('image', 'pattern')){
            <p class="error">El url de la imagen es incorrecto</p>
            }
            @if(checkControl('image', 'required')){
            <p class="error">Campo requerido</p>
            }
        </div>

        <input type="submit" class="btn btn-danger" value="Guardar" [disabled]="modelForm.valid">
        
    </form>

</div>
